/* Style for the list item */
li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border-bottom: 6px solid #a7a184;
    display: flex;
    align-items: center;
    width: 20%;
    height: auto;
    background-color: #c4bfb0;
    color: #546c84;
}

/* Style for the beach icon */
.beachyicon {
    width: 24px; /* Adjust the width of the icon */
    height: 24px; /* Adjust the height of the icon */
    margin-right: 10px; /* Adjust the spacing between the icon and text */
}
/* Style for inputs */
/* Style for inputs */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    color: #413511;
    width: 10%;
    padding: 10px;
    margin: 0 10px 10px 0; /* Adjust margin as needed */
    border: 1px solid #b4891c;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block; /* Ensure inputs are aligned next to each other */
}

/* Optional: Clearfix to prevent wrapping issues */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* Style for buttons */
button,
input[type="submit"] {
    padding: 10px 20px;
    background-color: #55293d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #31072c;
}
